<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* div{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            width: 300px;
            background-color: beige;
            box-shadow: 2px;
            
        } */
    </style>
</head>
<body>
    <h1>Hi</h1>
   <!-- <div class="hello"><h2>Hello django </h2></div> -->
</body>
</html>